<div class="row" id="co">
  <label class="col-1"></label>
  <div class="col-3">
    <img src="save1.png" >
  </div>
  <label class="col-5"></label>
  <div class="col-2">
      <img src="save4.jpeg" >
  </div>
</div><hr>

<body>
    
    <div class="content">
        <h2>Welcome</h2><br>
     <button routerLink="/second" class="btn btn-warning" id="j" routerLink="/home">Railway Reservation</button>
    </div>
     
    <div id="moon">
    <h1 >INDIAN RAILWAY</h1>
  </div>
  <!-- <div id="nila">
    <p >Security | Safety | Punctuality</p>
  </div> -->
  </body>
